body{
    margin: 0;
    padding:0;
    background-color: white;
    color: #333333;
    font-family: Arial, sans-serif;
}

header{
    background-color: #001268 ;
    padding:40px 0;
    text-align: center;
    color: white;


}
 

h2{     
        
        color: #001268;
    }
#about{
    padding: 40px;
     background-color: #f4f4f4;
     border-radius: 10px;
     line-height: 20px;
}



.rest{
     margin-top: 3px;
     padding: 40px;
     background-color: #f4f4f4;
     border-radius: 10px;
     line-height: 25px;
}
footer a {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 15px;
    border: 2px solid #001268;
    border-radius: 25px;
   
    color: #001268;
    transition: 0.3s;
    background-color: #f4f4f4;
}

footer a:hover {
    background-color: #001268;
    color: white;
}


